*{
box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    max-height: %100%;
}

html, body{
	width:100vw;
    height: 100vh;
    margin: 0;
}

h1{
    position:fixed;
}

.background{
  position:fixed;
    z-index: -1;
}

svg{
    position: fixed;
    left: 55%;
    top: 50%;
}

path{
    stroke: white;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawBranch 10s linear alternate,pulse 7s 2 ;
    animation-fill-mode: forwards;
  
}

li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

a{
    text-decoration: none;
    color:green;
    padding-left:  padding:2vw;
    font-family: 'Indie Flower', cursive;
    
}

nav{
    width:100vw;
    background-color: floralwhite;
   
}

ul{
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
}

a:hover{
  background-color: white;
    font-size: 4vh;
}

button{
    display:none;
}
/*Keyframes*/
@keyframes drawBranch{
    from{ 
        stroke-dashoffset: 1000;
    }
    to{
        transform-origin: center;       
        transform: rotateY(360deg);
        stroke-dashoffset: 0px;
        fill: green;
    }
}

@media (min-aspect-ratio: 16/9) {
   .background {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
     .background  { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
     .background  {
        display: none;
    }
    body {
        background: url("../images/backgroundImg.PNG");
        background-size: cover;
    }

@media only screen and (max-width: 500px) {

  ul{
    flex-direction: column;
  }

  li{
    margin: 0;
  }
  a{
    display: block;
  }
}
    
    @media only screen and (max-width: 500px) {
   ....
  
  button{
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    outline: none;   
    cursor: pointer;
    align-self: flex-start;
  }
}