*{
box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

html, body{
    position: fixed;
	min-height: 100vh; 
 
}

h1{
    position: relative;
    text-align: center;
    top:30vh;
    color: aliceblue;
    font-size: 60px;
    z-index: 2;
}

@keyframes loadline1{
    from{
        opacity:1;
        top:30vh;
        font-size: 60px;
    }
    to{
        opacity: 0;
        top:60vh;
        font-size: 70px;
    }
}


.part1 .line1{
     animation-name: loadline1;
    animation-duration: 8s;
    transition-timing-function: ease-in;
    opacity:1;
    animation-fill-mode: forwards;
}

.part2 .line2{
     animation-name: loadline2;
    animation-duration: 6s;
    transition-timing-function: ease-in;
    opacity:0;
    animation-fill-mode: forwards;
}

@keyframes loadline2{
    from{
        opacity:0;
        top:30vh;
        font-size: 60px;
    }
    to{
        opacity: 1;
         top:60vh;
        font-size: 90px;
        color: deepskyblue;
    }
}


.background1{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
    z-index:-1;
    animation-name: moveb1up;
    animation-duration: 9s;
      transition-timing-function: ease-out;
     animation-fill-mode: forwards;
}

.background2{
  right: 0;
  top: 100%;
    position: fixed;
        bottom:0;
         min-width: 100%;
  min-height: 100%;
    z-index:-1;
    animation-name: moveb2up;
    animation-duration: 9s;
     animation-fill-mode: forwards;
    transition-timing-function: ease-in;
}

.line1{
     animation-name: moveh1up;
    animation-duration: 7s;
     animation-fill-mode: forwards;
    transition-timing-function: ease-in;
}



.line2{
     animation-name: moveh2up;
    animation-duration: 4s;
     animation-fill-mode: forwards;
    transition-timing-function: ease-in;
}

svg{
    position: relative;
    top:51vh;
    left:75vw;
    z-index: 2;
    
}

path{
    stroke: white;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawBranch 10s linear alternate,pulse 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 2.0s;
    transition-timing-function: ease-in;
  
}

.spanlogo {
  position: fixed;
   left:0%;
    top:0%;
   width: 7.2vh;
   margin-top:0px;
}

li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2.5vh;
    z-index: 1;
}

a{
    text-decoration: none;
    color:green;
    padding-left:  padding:2vw;
    font-family: 'Indie Flower', cursive;
    z-index: 1;
}

nav{
    width:100vw;
    background-color: floralwhite;
    z-index: 1;
   
}

ul{
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

a:hover{
  background-color: white;
    font-size: 4vh;
}

@keyframes moveh1up{
    from{
        bottom: 20;
    }
    to{
        bottom:100%;
    }
    
}

@keyframes moveh2up{
    from{
      
        top:100%;
         
    }
    to{
        top:50%;
        
    }
    
}

@keyframes moveb1up{
    from{
        bottom: 0;
    }
    to{
        bottom:100%;
    }
    
}

@keyframes moveb2up{
    from{
      
        top:100%;
         
    }
    to{
        top:0;
        
    }
    
}

@keyframes drawBranch{
    from{ 
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0px;
        fill: red;
    }
}