*{
box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

html, body{
	min-height: 100vh; 
 
}
h1{
    position:absolute;
    z-index: 3;
}

.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:1;
    animation-name: slowVideo;
    animation-duration: 10s;
}

@keyframes slowVideo{
    from{
        
    }
}

