*{
box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
    max-width:100%;
    max-height:100%;
}

html, body{
    position: fixed;
	width:100vw;
    height: 100vh;
    margin: 0;
}
h1{
    position: relative;
    text-align: center;
    top:30vh;
    color: black;
    font-size: 40px;
    z-index: 3;
}

.part1 .line1{
    animation-name: loadline1;
    animation-duration: 3s;
    transition-timing-function: ease-in;
    opacity:0;
    animation-fill-mode: forwards;
}

.part2 .line2{
    animation-name: loadline1;
    animation-duration: 3s;
    transition-timing-function: ease-in;
    opacity:0;
    animation-fill-mode: forwards;
    left:20vh
}


.part1{
    display:block;
}
.part2{
    display:none;
}

.background{
    position:fixed;
    z-index:1;
    animation-name: slowVideo;
    animation-duration: 10s;
}


svg{
    position: relative;
    top:51vh;
    left:70vw;
    color: aliceblue;
    font-size: 40px;
    z-index: 2;
}

path{
    stroke: white;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawBranch 6s linear alternate,pulse 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  
}


.arrowBg {
  cursor: pointer;
 position: relative;
    top: 90%;
    left: 87vh;
  z-index: 3;
  height: 10vh;
  width: 10vh;
  font-weight: bold;
  font-size: 120px;

}

.arrowBg p{
    position: relative;
    color:transparent;
    top: 10%;
    text-align: center;
    transition: 1.1s ease;
    color:whitesmoke;
        animation-name: moveArrow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
     transition: 1.6s ease;
    transform: rotate(90deg);
}

.arrowBg p:hover{
     animation-play-state: running;
}

.spanlogo {
  position: fixed;
   left:0%;
    top:0%;
   width: 8.2vh;
   margin-top:0px;
}

li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2.5vh;
     z-index: 2;
}

a{
    text-decoration: none;
    color:green;
    padding-left:  padding:2vw;
    font-family: 'Indie Flower', cursive;
  z-index: 2;
}

nav{
    width:100vw;
    background-color: white;
      z-index: 2;
}

ul{
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
      z-index: 2;
}

a:hover{
  background-color: white;
    font-size: 4vh;
}



/*Keyframes*/
@keyframes moveArrow{
    to{
        transform: translateY(80vh);
    }
}

@keyframes loadline1{
    from{
        opacity:0;
        top:20vh;
        font-size: 40px;
        color:black;
    }
    to{
        opacity: 1;
        top:60vh;
        font-size: 60px;
        color: aqua;
    }
}

@keyframes loadline2{
    from{
        opacity:0;
        top:20vh;
        font-size: 40px;
        color:black;
    }
    to{
        opacity: 1;
        top:60vh;
        font-size: 60px;
        color: aqua;
    }
}


@keyframes drawBranch{
    from{ 
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0px;
        fill: white;
    }
}

@media (min-aspect-ratio: 16/9) {
   .background {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
     .background  { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
     .background  {
        display: none;
    }
    body {
        background: url("../images/backgroundImg.PNG");
        background-size: cover;
    }

@media only screen and (max-width: 500px) {

  ul{
    flex-direction: column;
  }

  li{
    margin: 0;
  }
  a{
    display: block;
  }
}