*{
box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

html, body{
	min-height: 100vh; 
}

h1{
    position: relative;
    text-align: center;
    top:20vh;
    color: aliceblue;
    font-size: 60px;
}

.line1{
    color:white;
    opacity:1;
    animation-name: fadeline1;
    animation-duration: 18s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.line2{
    opacity:0;
    animation-name: fadeline2;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.background1{ 
    position: fixed;
    opacity:1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
    animation-name: fadeVideo1;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
} 

.background2{
    position: fixed;
    right: 0;
    bottom: 0;
    opacity:0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
    animation-name: fadeVideo2;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in
}

.spanlogo {
  position: fixed;
   left:0%;
    top:0%;
   width: 7.2vh;
   margin-top:0px;
}

li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2.5vh;
    z-index: 1;
}

a{
    text-decoration: none;
    color:green;
    padding-left:  padding:2vw;
    font-family: 'Indie Flower', cursive;
    z-index: 1;
}

nav{
    width:100vw;
    background-color: floralwhite;
    z-index: 1;
   
}

ul{
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

a:hover{
  background-color: white;
    font-size: 4vh;
}

@keyframes fadeVideo1{
    from{
        opacity: 1;
       
    }
    to{
       opacity:0;
    }
}

@keyframes fadeVideo2{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


@keyframes fadeline1{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

@keyframes fadeline2{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
  